<div class="container">
    <h3 class="text-center">Create New Post</h3>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Title">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Content</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button class="btn btn-primary">Create New Post</button>
</div>
     <footer class="bg-dark text-white fixed-bottom">
    <div class="container-fluid py-3 text-center">
            <div class=" text-center small align-item-end">©{{format_date}} Iaroslav Lasiichuk, Inc.</div>
    </div>
    </footer>
