<div class="container text-center"></div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each blogs as |blog|}}
  <div class="col">
    <div class="card h-100 w-75 justify-content-center">
      <img src="/img/{{blog.filename}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{blog.blog_title}}</h5>
        <p class="card-text">{{blog.blog_content}}</p>
         <a href="#" class="btn btn-success">Add Comment</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
      {{/each}}
</div>
 </div>  